@{
    ViewData["Title"] = "About - Protozoa Colonies";
}

<h1>About</h1>
<br />
<h4>Conway's Game of Life:</h4>
<span>A cellular automation that was created by the mathematician John Horton Conway in 1970. While the game is normally a zero-player game,
    meaning that a player sets cells and then the game simply advances based on the rule, our edition allows multiple online players to 
    modify cells while the game is in progress.</span>
<br />
<br />
<span><b>Rules:</b></span>
<ul>
    <li>A live cell with fewer than two live neighbors dies by underpopulation.</li>
    <li>A live cell with two or three live neighbors lives on to the next generation.</li>
    <li>A live cell with more than three live neighbors dies by overpopulation</li>
    <li>A dead cell with exactly three live neighbours becomes a live cell by reproduction.</li>
</ul>
<br />
<h4>The Creators:</h4>
<ul>
    <li>Logan Rios</li>
    <li>Joshua Abbott</li>
    <li>Tanner Law</li>
</ul>