@{
    ViewData["Title"] = "About - Protozoa Colonies";
}
<h1>About</h1>

<span>Here we can add a bit of a description of the game. Maybe about the rules, or why we made it.</span>
<p>We'll remove this later: Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
