@{
    ViewData["Title"] = "About - Protozoa Colonies";
}

<h1>About</h1>
<br />
<h4>Conway's Game of Life:</h4>
<span>A cellular automation that was created by the mathematician John Horton Conway in 1970. While the game is normally a zero-player game,
    meaning that a player sets cells and then the game simply advances based on the rule, our edition allows multiple online players to 
    modify cells while the game is in progress.</span>
<br />
<span>Rules:</span>
<ul>
    <li>Blah</li>
</ul>
<br />
<br />
<h4>About the Creators:</h4>