@{
    ViewData["Title"] = "Protozoa Colonies";
}

<div class="text-center">
    <div>
        <h2 id="intro0" class="display-4">Welcome</h2>
        <h2 id="intro1" class="display-4">to</h2>
        <h1 id="intro2" class="display-2"> Protozoa Colonies</h1>
        <br />
        <div id="gameContainer" class="containter">
            <div class="control-panel" >
                <div style="margin: 6px 10px 0px 0px;">
                    <span>Choose a color for your colony: </span>
                    <input id="colorPicker" onchange="changeColor()" type="color" name="color" value="#BF2828" />
                </div>
                <div>
                    <button id="btnToggleStatus" type="button" class="btn btn-primary" style="margin-right: 10px">Start</button>
                    <button id="btnNext" type="button" class="btn btn-primary">Next</button>
                    <button id="btnClear" type="button" class="btn btn-danger">Clear</button>
                </div>
            </div>
            <div id="tableContainer"></div>
        </div>
    </div>
</div>
