@{
    ViewData["Title"] = "Protozoa Colonies";
}

@section scripts {
    <script type="text/javascript">


        // Draw grid:
        function generateGrid(rows, cols) {
            var grid = "<table>";
            for (row = 1; row <= rows; row++) {
                grid += "<tr>";
                for (col = 1; col <= cols; col++) {
                    grid += "<td></td>";
                }
                grid += "</tr>";
            }
            return grid;
        }
        $("#tableContainer").append(generateGrid(50, 50));

        // Handle clicks/mouse drag:
        $(function () {
            var isMouseDown = false;
            $("td")
                .mousedown(function () {
                    isMouseDown = true;
                    $(this).toggleClass("highlighted");

                    var index = $("td").index(this);
                    var row = Math.floor((index) / 50);
                    var col = (index % 50);
                    console.log("That was row " + row + " and col " + col);

                    return false; // prevent text selection
                })
                .mouseover(function () {
                    if (isMouseDown) {
                        $(this).toggleClass("highlighted");

                        var index = $("td").index(this);
                        var row = Math.floor((index) / 50);
                        var col = (index % 50);
                        console.log("That was row " + row + " and col " + col);
                    }
                })
                .bind("selectstart", function () {
                    return false; // prevent text selection in IE
                });

            $(document)
                .mouseup(function () {
                    isMouseDown = false;
                });
        });

                // UNCOMMENT LATER
                // Function triggered on page load
                //$(function () {
                //    // Title Animations:
                //    $('#intro0').fadeIn(1500, function () {
                //        $('#intro1').fadeIn(1500, function () {
                //            $('#intro2').fadeIn(1500, function () {
                //                $('#intro0').fadeOut(1000);
                //                $('#intro1').fadeOut(1000, function () {
                //                    $('#intro2').removeClass('display-2');
                //                    $('#intro2').addClass('display-4');
                //                    $('#gameContainer').fadeIn(1000);
                //                    $('#gameContainer').css("display", "inline-grid");
                //                });

                //            });
                //        });
                //    });
                //});
    </script>
}

<style>
    #intro0, #intro1, #intro2, #gameContainer {
        display: none;
    }

    .highlighted {
        background-color: aquamarine;
    }

    /* REMOVE LATER */
    #gameContainer {
        display: inline-grid;
    }

    td {
        border: 1px solid;
        width: 20px;
        height: 20px;
    }
</style>
<div class="text-center">
    <div>
        <h2 id="intro0" class="display-4">Welcome</h2>
        <h2 id="intro1" class="display-4">to</h2>
        <h1 id="intro2" class="display-2"> Protozoa Colonies</h1>
        <br />
        <div class="containter">
            <div style="padding-bottom: 10px;">
                <span>Choose a color for your colony: </span>
                <input type="color" name="color" value="#ff0000" />
            </div>
            <div id="tableContainer"></div>
        </div>
        @*<div id="gameContainer" style="width: 100%">
                <canvas id="canvas" style="width: 1000px; height: 1000px; border:1px solid #efefef;"></canvas>
                <div id="tableContainer"></div>
            </div>*@

    </div>
</div>
