@{
    ViewData["Title"] = "Protozoa Colonies";
}

<div class="text-center">
    <div>
        <h2 id="intro0" class="display-4">Welcome</h2>
        <h2 id="intro1" class="display-4">to</h2>
        <h1 id="intro2" class="display-2"> Protozoa Colonies</h1>
        <br />
        <div id="gameContainer" class="containter">
            <div style="padding-bottom: 10px;">
                <span>Choose a color for your colony: </span>
                <input type="color" name="color" value="#ff0000" />
            </div>
            <div id="tableContainer"></div>
        </div>
    </div>
</div>
